---
import PageLayout from "@/PageLayout.astro";
import { css } from "@styled-system";
---

<PageLayout title="Jan Buchar" pageTitle="Jsem Jan...">
  <h1 class={css({ bg: "red" })}>
    Hello {Astro.currentLocale}
  </h1>
</PageLayout>
