[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "theme/static/bootstrap"]
	path = theme/bootstrap
	url = https://github.com/twbs/bootstrap.git
