---
import PageLayout from "@layout";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<PageLayout title="Blog">
  {
    posts.map((it) => (
      <h1>
        <a href={`/blog/${it.slug}`}>{it.data.title}</a>
      </h1>
    ))
  }
</PageLayout>
