---
import { css, cx } from "@styled-system";
const { class: className, ...props } = Astro.props;
---

<h1
  {...props}
  class={cx(
    className,
    css({
      fontSize: "pageTitle",
    }),
  )}
>
  <slot />
</h1>
