---
interface Props {
  href: string;
  matcher?: RegExp;
  class?: (isActive: boolean) => string;
}

const isActive = Astro.url.pathname.startsWith(Astro.props.href);
const className = Astro.props.class?.(isActive);
---

<a href={Astro.props.href} class={className}>
  <slot />
</a>
