---
import { useTranslations } from "@i18n";
import { css } from "@styled-system";
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"blog"> | CollectionEntry<"drafts">;
}
const t = useTranslations(Astro.currentLocale);
const formattedDate = Astro.props.post.data.date?.toLocaleString(
  Astro.currentLocale,
  {
    year: "numeric",
    month: "long",
    day: "numeric",
  },
);
---

<div class={css({ color: "polarNight4" })}>
  {
    Astro.props.post.data.date !== undefined
      ? `${t("publishedOn")} ${formattedDate}`
      : `DRAFT`
  }
</div>
