---
import { css } from "@styled-system";
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"blog">;
}
---

<div class={css({ color: "polarNight4" })}>
  Published on {
    Astro.props.post.data.date.toLocaleString(Astro.currentLocale, {
      year: "numeric",
      month: "long",
      day: "numeric",
    })
  }
</div>
