---
import { css } from "@styled-system";
import "./index.css";
import { PageTitle } from "@elements";
import Navigation from "@components/Navigation.astro";
import { hstack, vstack } from "@styled-system/patterns";

interface Props {
  title?: string;
  pageTitle: string;
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {Astro.props.title ? `${Astro.props.title} | Jan Buchar` : "Jan Buchar"}
    </title>
  </head>
  <body
    class={css({
      background: `[linear-gradient(120deg,token(colors.polarNight4),token(colors.polarNight2))]`,
      backgroundAttachment: "fixed",
      fontFamily: "normal",
      fontSize: "normal",
      display: "flex",
      justifyContent: "center",
    })}
  >
    <div
      class={css({
        background: "white",
        minHeight: "[100vh]",
        width: {
          base: "[100%]",
          sm: "[calc(token(breakpoints.sm) - token(spacing.large))]",
          lg: "[calc(token(breakpoints.lg) - token(spacing.large))]",
          xl: "[calc(token(breakpoints.xl) - token(spacing.large))]",
        },
      })}
    >
      <main
        class={css({
          paddingTop: "medium",
          paddingLeft: "large",
          paddingRight: "large",
          paddingBottom: "large",
          display: "grid",
          gridTemplateAreas: `
          'top top top'
          'left right right'
          `,
          gridTemplateColumns: "[1fr 2fr]",
          gridRowGap: "large",
          gridColumnGap: "extraLarge",
        })}
      >
        <div
          class:list={[
            css({ gridArea: "top" }),
            vstack({ gap: "large-half", alignItems: "stretch" }),
          ]}
        >
          <h1
            class={css({
              fontSize: "pageTitle",
              display: "flex",
              alignItems: "baseline",
              justifyContent: "space-between",
              lineHeight: "browserNormal",
            })}
          >
            {Astro.props.pageTitle}
            <Navigation />
          </h1>
          <hr
            class={css({
              gridArea: "divider",
              borderColor: "snowStorm2",
              borderBottomWidth: "thick",
              borderRadius: "large",
            })}
          />
        </div>
        {
          !Astro.slots.has("left") ? (
            <div class={css({ gridArea: "left/left/left/right" })}>
              <slot name="main" />
            </div>
          ) : (
            <Fragment>
              <div class={css({ gridArea: "right" })}>
                <slot name="main" />
              </div>
              <div class={css({ gridArea: "left" })}>
                <slot name="left" />
              </div>
            </Fragment>
          )
        }
        <slot />
      </main>
    </div>
  </body>
</html>
